* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*navigation bar*/
header {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  color: white;
  background-color: black;
}
.logo {
  margin-left: 20px;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
/*welcoming page*/
#home {
  display: flex;
  flex-direction: column;
  font-weight: 5em;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/*main content with image and about myself*/
.main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.my-photo {
  width: 30rem;
  border-radius: 10rem 15rem 10rem 15rem;
  margin: 2rem;
}
.about h1 {
  text-align: center;
}
.about p {
  line-height: 4rem;
  font-size: 2rem;
}
.about {
  margin-top: 2rem;
  padding: 30px;
}
